{:paths ["src" "test"]

 ;; Development tasks
 :tasks
 {test {:doc "Run all tests"
        :task (clojure.main/main "-m" "cljtab.test-runner")}}

 ;; bbin configuration for installing with 'bbin install'
 :bbin/bin {cljtab {:main-opts ["-m" "cljtab.core"]}}}