{:paths ["src"]
 :deps {}

 :aliases
 {:tool-test {:extra-deps {io.github.chaploud/cljtab {:local/root "."}}
              :ns-default cljtab.core}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "cljtab.test-runner"]}}

 :tools/usage {:ns-default cljtab.core}}